{% extends 'base.html' %}
{% block title %}New stratigraphic unit{% endblock %}


{% block content %}
<div class="alert alert-info" role="alert">
    You are working on DB <strong>{{ selected_db }}</strong>. Next free SU ID is <strong>{{ suggested_id }}</strong>.
</div>
<div class="container mt-4">
    <h3>New startigraphic unit</h3>
    <form method="POST">
        <div class="container">
            <div class="row mb-4">
                <!-- A. SU basix info -->
                <div class="col-md-6">
                    <fieldset class="border p-3 bg-light">
                        <legend class="w-auto px-2">A. Basic description</legend>
    
                        <div class="mb-3">
                            <label for="id_sj" class="form-label">ID SJ</label>
                            <input type="number" class="form-control" id="id_sj" name="id_sj" value="{{ suggested_id }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="sj_typ" class="form-label">SU type</label>
                            <select class="form-select" id="sj_typ" name="sj_typ" required onchange="toggleFields()">
                                <option value="">-- choose --</option>
                                <option value="deposit">Deposit</option>
                                <option value="negativ">Negativ</option>
                                <option value="structure">Structure</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="interpretation" class="form-label">Interpretation</label>
                            <textarea class="form-control" id="interpretation" name="interpretation" rows="3"></textarea>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="docu_plan" name="docu_plan">
                            <label class="form-check-label" for="docu_plan">Documentation – plan</label>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="docu_vertical" name="docu_vertical">
                            <label class="form-check-label" for="docu_vertical">Dokumentation – cut</label>
                        </div>
                        <div class="mb-3">
                            <label for="author" class="form-label">Author</label>
                            <select class="form-select" id="author" name="author" required>
                                {% for email in authors %}
                                    <option value="{{ email }}">{{ email }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                </div>
    
                <!-- B. Attributes depending on SU type -->
                <div class="col-md-6">
                    <fieldset class="border p-3 bg-warning-subtle">
                        <legend class="w-auto px-2">B. Attributes depending on SU type</legend>
    
                        <!-- DEPOSIT -->
                        <div id="deposit_fields" style="display: none;">
                            <div class="mb-3">
                                <label class="form-label">Deposit type</label>
                                <input type="text" class="form-control" name="deposit_typ">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Color</label>
                                <input type="text" class="form-control" name="color">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Boundary visibility</label>
                                <input type="text" class="form-control" name="boundary_visibility">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Composition</label>
                                <input type="text" class="form-control" name="structure">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Compactness</label>
                                <input type="text" class="form-control" name="compactness">
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="deposit_removed" name="deposit_removed">
                                <label class="form-check-label" for="deposit_removed">Deposit was completely removed</label>
                            </div>
                        </div>
    
                        <!-- NEGATIV -->
                        <div id="negativ_fields" style="display: none;">
                            <div class="mb-3">
                                <label class="form-label">Negative type</label>
                                <input type="text" class="form-control" name="negativ_typ">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Extent of exposure</label>
                                <input type="text" class="form-control" name="excav_extent">
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="ident_niveau_cut" name="ident_niveau_cut">
                                <label class="form-check-label" for="ident_niveau_cut">Cut niveau identification</label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Plan shape</label>
                                <input type="text" class="form-control" name="shape_plan">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Walls shape</label>
                                <input type="text" class="form-control" name="shape_sides">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Bottom shape</label>
                                <input type="text" class="form-control" name="shape_bottom">
                            </div>
                        </div>
    
                        <!-- STRUCTURE -->
                        <div id="structure_fields" style="display: none;">
                            <div class="mb-3">
                                <label class="form-label">Structure type</label>
                                <input type="text" class="form-control" name="structure_typ">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Construction type</label>
                                <input type="text" class="form-control" name="construction_typ">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Binder</label>
                                <input type="text" class="form-control" name="binder">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Basic material</label>
                                <input type="text" class="form-control" name="basic_material">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Lenght (m)</label>
                                <input type="number" step="0.1" class="form-control" name="length_m">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Width (m)</label>
                                <input type="number" step="0.1" class="form-control" name="width_m">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Height (m)</label>
                                <input type="number" step="0.1" class="form-control" name="height_m">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
    
            <div class="row mb-4">
                <!-- C. STARTIGRAPHY -->
                <div class="col-md-6">
                    <fieldset class="border p-3 bg-info-subtle">
                        <legend class="w-auto px-2">C. Stratigraphic relations</legend>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <small>Enter the SU numbers that are related to this SU:</small>
                            </div>
                  

                            <!-- LAYING UNDER -->
                            <div class="col-md-6 mb-3">
                                <label for="below_1" class="form-label">Lies under (SU #1):</label>
                                <input type="number" class="form-control" id="below_1" name="below_1" placeholder="e.g. 44">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="below_2" class="form-label">Lies under (SU #2):</label>
                                <input type="number" class="form-control" id="below_2" name="below_2" placeholder="e.g. 45">
                            </div>

                            <!-- CONTEMPORARY -->
                            <div class="col-md-12 mb-3">
                                <label for="equal" class="form-label">Contemporary with: (SU):</label>
                                <input type="number" class="form-control" id="equal" name="equal" placeholder="e.g. 46">
                            </div> 



                            <!-- LAYING ABOVE -->
                            <div class="col-md-6 mb-3">
                                <label for="above_1" class="form-label">Lies above (SU #1):</label>
                                <input type="number" class="form-control" id="above_1" name="above_1" placeholder="e.g. 42">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="above_2" class="form-label">Lies above (SU #2):</label>
                                <input type="number" class="form-control" id="above_2" name="above_2" placeholder="e.g. 43">
                            </div>
                


                        </div>
                    </fieldset>
                </div>
    
                <!-- D. OVERVIEW -->
                <div class="col-md-6">
                    <fieldset class="border p-3 bg-light">
                    <legend class="w-auto px-2">D. Overview of SUs in database "{{ selected_db }}"</legend>
                    <ul class="list-unstyled">
                        <li>Total stratigraphic units: <strong>{{ sj_count_total }}</strong></li>
                        <li>Deposits: <strong>{{ sj_count_deposit }}</strong></li>
                        <li>Negatives: <strong>{{ sj_count_negative }}</strong></li>
                        <li>Structures: <strong>{{ sj_count_structure }}</strong></li>
                    </ul>
                    </fieldset>
                </div>
    
            <div class="text-center mb-5">
                <button type="submit" class="btn btn-primary btn-lg">Save SU</button>
            </div>
        </div>
    </form>
    
    
</div>

<script>

function toggleFields() {
        const sjTyp = document.getElementById("sj_typ").value;

        document.getElementById("deposit_fields").style.display = (sjTyp === "deposit") ? "block" : "none";
        document.getElementById("negativ_fields").style.display = (sjTyp === "negativ") ? "block" : "none";
        document.getElementById("structure_fields").style.display = (sjTyp === "structure") ? "block" : "none";
    }

    window.onload = toggleFields;


</script>
{% endblock %}
